@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body .font-sans{
  margin: 0;                                        
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
}

.alert-position{
  position: fixed;
  top: 0px;
  right: 0px;
  margin:5px;
  z-index:999999 !important;
  padding: 10px;
  margin:10px
}

.aside-bg{
  background-color: #F2C98A
}


.overflow-y-scroll::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #F2C98A;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #E9EDF1;
}

.active, .active:hover{
  color: #5145cd!important;
  border-left-color: #5145cd!important;
  border-left-width: 4px;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root{
  justify-content: flex-start!important;
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root{
  text-transform: none!important;
  font-family: inherit!important;

}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #5145cd!important;
}

@media only screen and  (min-device-width:300px) and (max-device-width:769px) {

  
  .css-heg063-MuiTabs-flexContainer{
    flex-wrap: wrap!important;
    width: 200px!important;
    background-color: #5145cd!important;
  }

  /* .css-h0q0iv-MuiButtonBase-root-MuiTab-root{
    justify-content:center!important;
  } */
   
}
